nav.navbar.navbar-expand-lg.navbar-light.shadow-sm
    .container-fluid
        a.navbar-brand(href="#")
            img.navbar-brand-logo(
                src="https://htmlstream.com/preview/front-v4.2/html/assets/svg/logos/logo.svg",
                alt="Logo"
            )
        button.navbar-toggler.px-1(
            type="button",
            data-bs-toggle="collapse",
            data-bs-target="#navBar",
            aria-controls="navBar",
            aria-expanded="false",
            aria-label="Toggle navigation"
        )
            span.navbar-toggler-icon

        #navBar.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0.fw-medium.text-uppercase
                li.nav-item
                    a.nav-link.active(aria-current="page", href="#") Home
                li.nav-item
                    a.nav-link(href="#") About
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(
                        href="#",
                        role="button",
                        data-bs-toggle="dropdown",
                        aria-expanded="false"
                    )
                        | Dropdown
                    ul.dropdown-menu(aria-labelledby="navbarDropdown")
                        li
                            a.dropdown-item(href="#") Action
                        li
                            a.dropdown-item(href="#") Another action
                        li
                            hr.dropdown-divider
                        li
                            a.dropdown-item(href="#") Something else here
                li.nav-item
                    a.nav-link(href="#") Contact Us

            include _social.pug
